@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

/*Creación de variables*/

/*Colores*/
:root {

   --red-solid: #FF3333;
   --red-900: rgba(255, 51, 51, 0.9);
   --red-500: rgba(255, 51, 51, 0.5);
   --red-300: rgba(255, 51, 51, 0.3);

   --blue-solid: #1D84B5;
   --blue-900: rgba(29, 132, 181, 0.9);
   --blue-500: rgba(29, 132, 181, 0.5);
   --blue-300: rgba(29, 132, 181, 0.3);

   --gray-solid: #747474;

   --dark-solid: #1F1F1F;
   --dark-900: rgba(31, 31, 31, 0.9);
   --dark-500: rgba(31, 31, 31, 0.5);
   --dark-300: rgba(31, 31, 31, 0.3);

   --light-solid: #FFFFFF;

   --mode-dark-solid: #30343F;
   --mode-light-solid: #FAFAFF;

   /*Tipografía*/

   --font-base: Inter,sans-serif;
   --font-alternativa: raleway, sans-serif;

   /*Tamaños de fuentes*/

   --font-display: 4.6em;
   /*46px*/
   --font-display2: 4.2em;
   /*42px*/
   --font-jumbo: 3.8em;
   /*38px*/
   --font-xlarge: 3em;
   /*30px*/
   --font-large: 2.4em;
   /*24px*/
   --font-medium2: 2em;
   /*20px*/
   --font-medium: 1.8em;
   /*18px*/
   --font-small: 1.6em;
   /*16px*/
   --font-xsmall: 1.4em;
   /*14px*/

   /*Espaciados*/

   --spacing-128: 12.8rem;
   --spacing-68: 6.8rem;
   --spacing-48: 4.8rem;
   --spacing-36: 3.6rem;
   --spacing-28: 2.8rem;
   --spacing-24: 2.4rem;
   --spacing-20: 2.0rem;
   --spacing-16: 1.6rem;
   --spacing-12: 1.2rem;
   --spacing-8: 0.8rem;

}

/*Fin de Variables*/

/*Normalización de elementos*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: var(--font-base);
   font-size: 62.5%;
}

a {
   text-decoration: none;
   color: inherit;
}

header,
footer {
   color: var(--light-solid);
   font-family: var(--font-alternativa);
}

/*p {
    font-size: 1.8em;
}*/

ul,
ol {
   list-style-type: none;
}

img {
   max-width: 100%;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}






/*Fin Normalización*/

/*HEADER*/

header {
   background-color: var(--mode-dark-solid);
   padding: var(--spacing-48);
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__logo {
   max-width: 300px;
}

.navbar__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: var(--spacing-20);
}

.navbar__link {
   font-size: var(--font-medium);
   display: inline-block;
   padding: var(--spacing-8) var(--spacing-16);
   transition: background .3s ease-in-out;
   position: relative;
   text-transform: uppercase;
}

.navbar__link:hover {
   background-color: var(--red-900);
}

.with-icon {
   display: flex;
   align-items: center;
   gap: var(--spacing-8);
}

.submenu {
   width: 300px;
   display: none;
   position: absolute;
   background-color: var(--mode-dark-solid);
   z-index: 2;
}

.with__submenu:hover .submenu {
   display: block;

}

.submenu__link {
   display: block;
   padding: var(--spacing-8) var(--spacing-16);
   font-size: var(--font-medium);
}

.submenu__link:hover {
   background-color: var(--red-900);
   transition: background .3s ease-in-out;
}

/*FIN ESTILOS HEADER*/
/*ESTILOS BANNER*/
.banner {
   background-image: url(../multimedia/funkos-banner.webp);
   padding: var(--spacing-128);
   background-size: cover;
   background-position: 50% 80%;
   /* background-attachment: fixed; */
   position: relative;
}

.banner::before {
   content: '';
   background-color: rgba(0, 0, 0, 0);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   backdrop-filter: blur(2px) brightness(.6);
}

.banner__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-20);
   align-items: start;
   z-index: 2;
   position: relative;
}

.banner__title {
   font-family: var(--font-alternativa);
   font-size: var(--font-jumbo);
   color: var(--light-solid);
}

.banner__subtitle {
   font-family: var(--font-alternativa);
   font-size: var(--font-medium);
   color: var(--light-solid)
}

.banner__link {
   display: inline-block;
   font-size: var(--font-medium2);
   background-color: var(--mode-light-solid);
   padding: var(--spacing-12) var(--spacing-68);
   border-radius: 50px;
   font-weight: 500;
   margin-top: var(--spacing-24);
   transition: all .3s ease-in-out;
}

.banner__link:hover {
   background-color: var(--red-900);
   color: var(--light-solid);
}

/*ESTILOS CARDS*/
.collection {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__img {
   order: -1;
}

.collection__item {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-24);
   align-items: start;
}

.collection__title {
   font-family: var(--font-alternativa);
   font-size: var(--font-display);
   font-weight: 500;
}

.collection__description {
   font-family: var(--font-alternativa);
   font-size: var(--font-large);
   font-weight: 400;
   border-bottom: 3px solid var(--red-solid);
   padding-bottom: var(--spacing-20);
}

.collection__link {
   display: inline-block;
   font-size: var(--font-large);
   color: var(--light-solid);
   background-color: var(--mode-dark-solid);
   padding: var(--spacing-16) var(--spacing-36);
   border-radius: 50px;
   font-weight: 500;
   margin-top: var(--spacing-24);
   transition: all .3s ease-in-out;
}

.collection__link:hover {
   background-color: var(--red-900);
}

/*ESTILOS SLIDER*/
.slider {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-36);
   margin: var(--spacing-68) auto;
}

.slider__items {
   display: flex;
   gap: var(--spacing-24);
}

.slider__title {
   font-family: var(--font-alternativa);
   font-size: var(--font-display);
   padding-bottom: var(--spacing-16);
}

.card-item__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-12);
   padding: var(--spacing-16);
}

.card-item__licence {
   font-size: var(--font-xsmall);
   font-weight: 500;
}

.card-item__name {
   font-size: var(--font-medium);
   font-weight: 700;
}

.card-item__price {
   font-size: var(--font-xsmall);
}

.card-item__cuotas {
   font-size: var(--font-xsmall);
   font-weight: 700;
   color: var(--blue-solid);
}

.card-item__img {
   display: flex;
   position: relative;
}

.card-item__img img {
   animation: fade 1s;
}

.card-item__img--back {
   display: none;
}

.card-item__img:hover .card-item__img--back {
   display: block;
}

.card-item__img:hover .card-item__img--front {
   display: none;
}

.card-item__tag {
   font-size: var(--font-xsmall);
   background-color: var(--red-solid);
   color: var(--light-solid);
   padding: var(--spacing-8) var(--spacing-12);
   right: 0;
   position: absolute;
}

/*FOOTER*/

.footer {
   background-color: var(--mode-dark-solid);
   padding: var(--spacing-48);
}

.footer__copy {
   font-size: var(--font-medium2);
   text-align: center;
   margin-top: var(--spacing-36);
}

 /*ESTILOS EDIT*/
 .form__edit form{
   display: grid;
   width: 830px;
   grid-template-columns: repeat(12 1fr);
   grid-template-rows: repeat(7 1fr);
}

 .form__edit form .input__item{
    padding: .3em;
    border: none;
    border-bottom: 1px solid var(--red-solid);
    font-family: var(--font-base);
    font-size: var(--font-medium);
 }
 
.form__edit form .label__select{
   font-family:var(--font-base);
   font-size: var(--font-large);
   font-weight: 300;
}
.form__edit form .label__input{ 
     font-size: var(--font-large); 
     font-weight: 400; 
 } 

 .form__edit form .oneline{
   width: 100%;
   grid-column: 1 / 13;
}
 .select__categoria{
    grid-column: 1 / 6;
    margin-right: 30px;   
 }
 .select__licencia{
    grid-column: 6 / 13; 
    margin-left: 30px;
 }
.nom__producto input{
   width: 16em;
}
 form .sku__item{
    grid-column: 1 / 3;
    grid-row: 5;
 }
 .sku__item input{
   width: 7em;
 }
 form .precio__item{
    grid-column: 3 / 6;
    grid-row: 5;
 }
 .precio__item input{
   width: 6em;
 }
 form .stock__item{
    grid-column: 6 / 13;
    grid-row: 5;
 }
 form .stock__item input {
   width: 3em;
}
 .descuento__item{
    grid-column: 1 / 3;
 }
 form .descuento__item input {
    width: 3em;
 }
 .cuota__item{
    grid-column: 3 / 10;
 }
 .textarea__descripcion{
    width: 100%;
    height: 8em;
    border-radius: 0.5em;
    padding: 0.2em;
    font-family:var(--font-base);
 }
 .descripcion textarea{
   font-size: var(--font-large);
 }
 .imagenes__edit{
   display: flex;
   grid-column: 1/13;
 }
.figure__edit {
   width: 15em;
   border-bottom: 1px solid var(--red-solid);
   margin-right: 5em;
}
 figcaption{
   text-align: center;
   font-size: var(--font-small);
 }


/*ESTILOS CREATE*/

.form__create form {
   display: grid;
   width: 830px;
   grid-template-columns: repeat(12 1fr);
   grid-template-rows: repeat(7 1fr);
}

.form__create, .form__register, 
.form__contacto, .form__login,
.form__edit, form > * {
   margin: var(--spacing-20) 0;
}

.input__item {
   font-family: var(--font-base);
   font-size: var(--font-small);
   border: none;
   border-bottom: 2px solid var(--red-solid);
   padding: .2em;
}

.select__item {
   width: 240px;
   padding: .5em;
   border-radius: 5px;
   border: solid 2px var(--dark-solid);
   margin-left: var(--spacing-16);
   font-family: var(--font-base);
   font-weight: 500;
   font-size: var(--font-small);
   color: var(--mode-dark-solid);
}

.select__item__cuota {
   font-family: var(--font-base);
   font-size: var(--font-small);
   width: 300px;
   padding: .5em;
   border-radius: 5px;
   margin-left: var(--spacing-16);
   border: solid 2px var(--dark-solid);

}

.form__create form .label__select {
   font-family:var(--font-base);
   font-size: var(--font-large);
   font-weight: 300;
}

.label__input {
   font-family: var(--font-base);
   font-size: var(--font-large);
   font-weight: 400;
}

.select__option {
   font-size: var(--font-small);
}

.admin__title,
.register__title,
.edit__title {
   font-family: var(--font-alternativa);
   font-size: var(--font-display2);
   font-weight: 700;

}

.form__create form .oneline {
   grid-column: 1 / 13;
}

.select__categoria {
   grid-column: 1 / 6;
   margin-right: 30px;
}

.select__licencia {
   grid-column: 6 / 13;
   margin-left: 30px;
}

.sku__item {
   grid-column: 1 / 4;
   grid-row: 5;
}

.precio__item {
   grid-column: 4 / 8;
   grid-row: 5;
}

.stock__item {
   grid-column: 8 / 13;
   grid-row: 5;
}

.stock__item input {
   width: 40px;
}

.descuento__item {
   grid-column: 1 / 3;
   padding: var(--spacing-12);
}

.descuento__item input {
   width: 40px;
}

.cuota__item {
   grid-column: 3 / 10;
   padding: var(--spacing-12);
   margin-left: var(--spacing-12);
}

.textarea__descripcion {
   width: 100%;
   font-family: var(--font-base);
   font-size: var(--font-small);
   font-weight: 400;
   border: solid 1px var(--dark-solid);
   border-radius: 5px;
}
input[type="file"]{
   font-size: var(--font-small);
   margin-left: var(--spacing-8);
}

.input__item__file::file-selector-button {
   font-size: var(--font-xsmall);
   padding: 0.3em;
   border: thin solid grey;
   border-radius: 8px;
   transition: background .3s ease-in-out;
}
.input__item__file::file-selector-button:hover{
   background-color: var(--red-900);
   color: var(--light-solid);
}

.btn {
   padding: .7em;
   width: 180px;
   height: 44px;
   margin: 1em 3em 1.5em 0;
   border: none;
   background-color: var(--red-solid);
   color: var(--light-solid);
   transition: background .3s ease-in-out;
   font-size: var(--font-xsmall);
   font-weight: 600;
}

.btn:hover {
   background-color: var(--red-900);
}
/* ESTILOS LOGIN */

.form__login form {
   display: grid;
   grid-template-columns: 1fr 150px 200px 1fr;
   margin: var(--spacing-128) auto;
}
.login__title {
   font-family: var(--font-alternativa);
   font-size: var(--font-display2);
   font-weight: 700;
   grid-column: 1/5;
   text-align: center;
}

.label__input-login {
   font-family: var(--font-base);
   font-size: var(--font-large);
   font-weight: 400;
   grid-column: 2 / 3;
}

.login__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1 / 5;
}

.login__btn button {
   width: 8em;
   margin: 0;
}

.input__recordar{
   margin-left: 2em;
}
.label__recordar{
   font-size: var(--font-small);
   margin-left: var(--spacing-8);
}

.recuperar{   
   text-align: center;
   font-size: var(--font-xsmall);
   color: var(--blue-solid);   
   grid-column: 1/5;
}

/* INICIO ESTILOS REGISTER */

.form__register {
   display: flex;
   flex-direction: column;
   padding: var(--spacing-48) 0;
   margin: auto;
}

.form__register form {
   display: grid;
   grid-template-columns: 250px 250px;
   margin: auto;
   padding: var(--spacing-48);
   align-items: center;
}

.register__title {
   text-align: center;
   margin-bottom: var(--spacing-20);
}

.register__subtitulo{
   font-family: var(--font-alternativa);
   font-size:var(--font-xlarge);
   font-weight: 400;
   text-align: center;
}
.register__btn{
   display: flex;
   align-items: center;
   grid-column: 1 / 3;
   justify-content: space-between;
}
.reg-btn{
   margin: 0;
}

.label__terminos{
   font-size: var(--font-medium);
   font-weight: 500;
   padding-left: 0.4em;
}
.label__terminos span{
   color: var(--blue-solid);
}
/* ESTILOS ADMIN */

.admin__form{
   margin: var(--spacing-36) 0;
}
.admin__search,
.form__login {
   display: flex;
}
.admin__input{
   width: 530px;
   border-radius: 0.5em;
   padding: var(--spacing-12);
   font-family: var(--font-base);
   font-size: var(--font-medium2);
   font-weight: 500;
   margin-left: var(--spacing-16);
}
.admin__section{
   display: flex;
   flex-direction: column;
   width: 1126px;
}

.admin__add{
   display: flex;
   align-items: center;
   margin-right: var(--spacing-36);
}

.admin__add img{
   width: 30px;
   margin-left: var(--spacing-20);
}

.admin__table{
   margin: var(--spacing-48) 0;
   font-size: var(--font-large);
   font-weight: 500;
}

.input__table{
   font-size: var(--font-medium2);
}

.admin__table-head th {
   text-align: left;
   padding-bottom:var(--spacing-20);  
}

.admin__table-td{
   padding: var(--spacing-8) var(--spacing-8) ;
   margin: 0;
}
.admin__encabezado{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.admin__agregar{
   font-size: var(--font-large);
   font-weight: 700;
}
.admin__title{
   font-family: var(--font-alternativa);
   font-size: var(--font-display2);
}

/* inicio CONTACTO */
.form__contacto {
   text-align: center;
   display: flex;

}

.form__contacto form {
   display: grid;
   width: 830px;
   grid-template-columns: 1fr 1fr;
   margin: auto;
}

.form__contacto form .oneline {
   width: 100%;
   grid-column: 1/3;
}

.form__contacto form > * {
   padding: 20px 0;
}

.comentario {
   grid-column: 1/3;
}

.textarea__comentario {
   width: 500px;
   border-radius: 5px;
   border: solid 1px var(--dark-solid);
   border-radius: 5px;
}

.contacto__btn {
   grid-column: 1/3;
} 

.contacto__email {
   grid-column: 1 / 3;
}

.contacto__email .email {
   width: 500px;
}

#btn{
   margin: auto;
}

/*ESTILOS SHOP*/
/*ASIDE*/
header{
   grid-area: header;
 }
 aside{
   grid-area: aside;
 }
 main{
   grid-area: main;
 }
 footer{
   grid-area: footer;
 }
 .grid-container{
   display: grid;
   grid-template-columns: 400px 2fr;
   grid-template-rows: 120px 1fr 250px;
   grid-template-areas: 
   "header header"
   "aside main"
  "footer footer";
 }

.filter__item{
   display: flex;
   padding-left: var(--spacing-128);
 }
 .filter__item form > *{
   padding: var(--spacing-12);
 }
 .filter__title{
   font-size: var(--font-medium);
   font-weight: 500;
   padding: var(--spacing-12) 0;
 }
 .filter__check{
   display:inline-block;
   flex-direction: column;
 }
 .input__search, .select__order{
   padding: .5em;
   border-radius: 0.5em;
   width: 100%; 
 }
 .input__price{
   width: 4em;
   padding:0.2em;
   border-radius: 5px;
   margin-left: var(--spacing-8);
  }
  .label__filter-price{
   font-size: var(--font-small);
  }
  .label__filter-check{
   font-size: var(--font-medium);
   margin-left: 0.3em;
  }
  .filter__check-item{
   padding: 0.3em 0;
}
input[type=checkbox] {
   transform: scale(1.5);
 }

/*MAIN*/

.main__cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9 {
   flex: 0 1 calc(33.33% - 20px); 
   margin-bottom: 20px; 
}

article {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-12);
   padding: var(--spacing-16);}

   .sidebar { flex: 0 1 25%; 
      order: -1;
    }

   .main__cards {display: flex;
      flex-wrap: wrap;
      flex: 1; 
      
   }

   .main-containershop {
      width: 90%; 
     margin-top:35px;
  }
  .pagination {
   text-align: center; 
   margin-top: 60px;
   margin-bottom:60px;
   list-style: none; 
   }

   .pagination li {
   display: inline; 
   margin: 0 15px; 
   }



/* inicio estilos del carrito */

.contenedor__carrito {
   height: 900px;
}

.carrito{
   height: 60%;
   padding: 5%;
   background-color: var(--light-solid);
}

.carrito h1{
   font-weight: bold;
   text-decoration: underline  var(--red-solid);
   font-size: var(--font-xlarge);
}

.carrito h3{
   font-weight: bold;
   font-size:  var(--font-medium);
}

.carrito p{
   font-size: 14px;
}

.carrito__bordes {
   margin: 2%;
   padding: 1%;
   border-radius: 6px;
   box-shadow: 1px 1px 2px 2px rgba(142, 136, 136, 0.58);
   -webkit-box-shadow: 1px 1px 2px 2px rgba(142, 136, 136, 0.58);
   -moz-box-shadow: 1px 1px 2px 2px rgba(142, 136, 136, 0.58);
}

.carrito__columnas{
   display: grid;
   grid-template-columns: 33% 33% 33%;
   font-weight: bold;
   text-align: center;
   align-items: center;
   font-size:  var(--font-small);
}

.carrito__item {
   display: grid;
   align-items: center;
   grid-template-columns: 10% 35% 30% 15% 2%;
   height: 30%;
}

.carrito__input {
   width: 30%;
   padding: 0px;
   font-size: var(--font-small);
   border: solid 0.5px var(--dark-solid);
}

.resumen {
   float: right;
   height: 40%;
   width: 50%;
   margin-right: 5%;
}

.resumen h1{
   width: 100%;
   font-weight: bold;
   text-decoration: underline  var(--red-solid);
   font-size: var(--font-xlarge);
   text-align: right;
   margin-bottom: 2%;
}

.resumen div{
   height: 40%;
}

.resumen label {
   float: left;
   font-weight: bold;
   font-size: var(--font-small);
}

.resumen button {
   height: 15%;
   width: 100%;
   background-color: var(--red-solid);
   color: #FAFAFF;
   border: none;
   font-weight: bold;
   font-size: var(--font-large);;
}

.resumen .valor_resumen {
   float: right;
   color: var(--gray-solid);
   font-size: var(--font-small);
}

.resumen .total {
   font-size: var(--font-medium);
   margin-bottom: 2%;
}

.resumen hr {
   margin-top: 5%;
   width: 100%;
}

/*  fin estilos del carrito */